html
  head
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript', src='./js/zones.js')
    link(rel='stylesheet', type='text/css', href='./css/normalize.css')
    link(rel='stylesheet', type='text/css', href='./css/zones.css')
    title Grove View
  body
    .container
      a#zone-flex.zone(href='javascript:void(0);')
        h2 Flex
        .avatar
        h3
          span.now-count 0
          |  students scheduled
        .bottom-stripe
          .other-teachers
            .avatar
            .avatar
            .avatar
          h3
            span.next-count 0
            |  students on deck
      a#zone-maker.zone(href='javascript:void(0);')
        h2 Maker
        .avatar
        h3
          span.now-count 0
          |  students scheduled
        .bottom-stripe
          .other-teachers
            .avatar
            .avatar
            .avatar
          h3
            span.next-count 0
            |  students on deck
      a#zone-ipad.zone(href='javascript:void(0);')
        h2 iPad
        .avatar
        h3
          span.now-count 0
          |  students scheduled
        .bottom-stripe
          .other-teachers
            .avatar
            .avatar
            .avatar
          h3
            span.next-count 0
            |  students on deck
      a#zone-library.zone(href='javascript:void(0);')
        h2 Library
        .avatar
        h3
          span.now-count 0
          |  students scheduled
        .bottom-stripe
          .other-teachers
            .avatar
            .avatar
            .avatar
          h3
            span.next-count 0
            |  students on deck
      a#zone-writing.zone(href='javascript:void(0);')
        h2 Writing
        .tapout-request
          .avatar.jane
        h3
          span.now-count 0
          |  students scheduled
        .bottom-stripe
          .other-teachers
            .tapout-request
              .avatar.jane
            .avatar
            .avatar
          h3
            span.next-count 0
            |  students on deck
