.countDown {
	max-width: 90%;
	margin: auto;
}

#name {
	text-align: center;
	margin: auto;
	padding-top: 1%;
	padding-bottom: 5%;
}

#event {
	text-align: center;
	margin: auto;
	padding-top: 5%;
	padding-bottom: 4%;
}

.scan-button {
	display:none;
	text-align: center;
	margin: auto;
	margin-top: 5%;
}

button {
	padding: 1.5% 7% 1.5% 7%;
}

.eventImageContainer,
.eventTextContainer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

.eventTextContainer {
	margin-top: 0%;
	margin-bottom: 3%;
}

iframe[src^="https://apis.google.com"] {
	display: none;

}

.locationImage {
	display: block;
}

.activityImage{
	display:block;
}

.creatorImage{
	display:block;
}

.creator-image{
	width:50%;
	height:auto;
};

#groveCalendar {
	text-align: center;
	margin: auto;
};

/*whoops styles*/

.whoopsContainer {
	border: #FF0000 solid 2px;
	margin-top:50px;
}

.tryAgain {
	text-align: center;
	margin: auto;
	padding-top: 5%;
	padding-bottom: 4%;
}

/*grove calendar styles*/
.location-grove {
	height: 200px;
	border-right: 1px solid #000 ;
}

.location-grove-title {
	text-align: right
}

.studentLocationDisplay {
	width:15%;
	height: 200px !important;
}

.student-tracker-title {
	margin:auto;
	text-align: center;
	width:100%;
	margin-bottom:50px;
	margin-top:50px;
}

.Found {
	background-color: rgba(137, 171, 66, 0.26);
	height: 200px;
	text-align:center;
	margin:7px;
	border-radius:7px;
	padding:7px;
	color:#484848;
	float: left;
}

.Lost {
	background-color: rgba(137, 171, 66, 0.26);
	height: 200px;
	text-align:center;
	margin:7px;
	border-radius:7px;
	padding:7px;
	color:#484848;
	float: left;
}

.Lost img {
	border: #ED0802 solid 3px;
}


.studentImage {
	text-align:center;
	display:block;
	width:80px;
	height: auto;
	position:absolute;
	top: 55px;
	left:5%;
	margin:auto;
}

.wrongLocation {
	color:red;
}

.name {
	font-size:1.5vw;
	font-weight: bold;
	margin-bottom:15px;
}

.nameImageContainer {
	margin-bottom:15px;
	width: 100%;
	height:20px;
	position: relative;
}

.collapse.in {
	background-color: #fff;
}

.panel {
	border:none;
}

.text-primary, .text-danger {
	white-space:nowrap;
}

.panel-body {
   padding: 10px;
}

.last-scan-info {
   position: relative;
   font-size: 12px;
	top: 105px;
}

.correct-location-info {
	position: relative;
	top:105px;
    font-size: 12px;
}

.location-image {
	width: 60% !important;
}

.absent-toggle {
	position: absolute;
	bottom: 5px;
	right: 10px;
}

@media only screen (max-width:500px) {
	.Lost {
		width:20%;
	}
}


.activity-image {
	width:60%;
}

/* Grove calendar display */

#groveCalendar .activity-image{
	width:65px;
}


#groveCalendar.table-striped>tbody>tr:nth-of-type(odd) {
	background-color:#fff;
}

#groveCalendar.table-striped>tbody>tr:nth-child(1) {
	border: #8BAB42 solid 3px;
	border-radius: 5px;
}

.container {
	margin-bottom: 30px;
}

#student-icon {
	margin-right: 10px;
}

.grove-heading {
	margin-bottom: 20px;
}

.eventImageContainer #activityImage>img {
	width:60%;
}

.schedule-button {
	position: absolute;
	top:5px;
	right:5px;
}

.scan-button .fa {
	margin-right:8px;
}

#scan-button {
	color:#fff;
	text-decoration: none;
}

.activity-form {
	margin-top: 30px;
}

.activity-form label {
	margin-top: 10px;
}

.activity-form button {
	margin-top: 20px;
}

.all-absent {
	margin-right: 50px;
}

/*Teacher Login Page*/
.teacher-login-box{
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
	border-radius: 2px;
	padding: 0 !important;
	max-width: 500px;
	margin: 5% auto 0;
	width: 80%;
}
.teacher-login-box .login-title{
	width: 100%;
	text-align:center;
	background-color:#73b342;
}
.teacher-login-box .login-title h4{
	margin: 0;
    color: #fff;
    font-size: 30px;
    padding: 50px 0;
}
.teacher-login-box .login-button{
	width: 100%;
	background-color: #fafafa;
}
.teacher-login-box .login-button button{
	background-color:#73b342;
	color: #fff;
	margin: 80px 0px;
}
.teacher-login-box .login-button button:hover{
	background-color:#629939;
}
.teacher-login-box .login-button button .fa-2x {
     font-size: 1.2em;
}

/*grove-overview page*/

.container.grove-overview {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 100%; }
#zone-flex {
  background-color: #D32F2F;
  margin-right: 40px; }

#zone-maker {
  background-color: #7B1FA2; }

#zone-ipad {
  background-color: #FFAB00; }

#zone-library {
  background-color: #4CAF50;
  margin-right: 40px; }

#zone-writing {
  background-color: #FF5722; }

#zone-flex, #zone-maker, #zone-library, #zone-writing {
  width: calc(50% - 40px); }

#zone-ipad {
  width: 100%; }

.zone {
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  margin: 10px; }
  .zone h2 {
    display: inline-block;
    margin: 20px 0 10px 20px;
    padding: 0;
    font-size: 48px;
    font-weight: 400;
    color: #FAFAFA; }
  .zone h3 {
    font-size: 20px;
    font-weight: 400;
    color: rgba(250, 250, 250, 0.6);
    margin: 0 0 40px 20px;
    padding: 0; }
    .zone h3 span {
      font-size: 36px;
      color: #FAFAFA; }
  .zone .avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid white;
    width: 56px;
    height: 56px;
    background: white url("../img/avatar-empty.svg") center no-repeat;
    overflow: hidden;
    display: inline-block;
    float: right;
    margin: 20px 20px 0 0; }
    .zone .avatar img {
      width: 56px;
      height: 56px; }

.bottom-stripe {
  background-color: #FAFAFA;
  position: relative;
  color: #222;
  padding: 35px 0 20px 20px; }
  .bottom-stripe h3 {
    margin: 0;
    padding: 0;
    color: rgba(34, 34, 34, 0.3); }
    .bottom-stripe h3 span {
      font-size: 36px;
      color: #222; }
  .bottom-stripe .other-teachers {
    margin-left: calc(50% - 135px);
    position: absolute;
    top: -25px; }
    .bottom-stripe .other-teachers .avatar {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 3px solid white;
      width: 50px;
      height: 50px;
      background: #E7E7E7 url("../img/avatar-empty.svg") center no-repeat;
      overflow: hidden;
      margin: 0 10px; }
      .bottom-stripe .other-teachers .avatar img {
        width: 50px;
        height: 50px; }

/* Pending state */
.avatar-pending {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px dotted white;
  width: 56px;
  height: 56px;
  overflow: hidden;
  display: inline-block;
  float: right;
  margin: 20px 20px 0 0; }
  .avatar-pending img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 6px;
    width: 80%;
    height: 80%; }

.other-teachers .avatar-pending {
  margin: 0 10px; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #zone-flex, #zone-maker, #zone-library, #zone-writing {
    flex: 1 50%;
    margin-right: 10px; }

  #zone-ipad {
    flex: 2 100%; } }
